$body-background-color: #121212;
body {
  background-color: $body-background-color;
}

.side-bar {
  background-color: #121212 !important;
}

.search-input {
  background-color: #121212;
  color: #ffffff;
}

.search {
  background-color: #121212;
}

.sidebar a:hover {
  color: #bbbbbb;
}

.nav-list .active {
  color: #ffcc00;
}
