$body-background-color: #121212;
body {
  background-color: $body-background-color;
}

.sidebar {
  background-color: #121212;
}

.search-input {
  background-color: #121212;
}

.search {
  background-color: #121212;
}
